  <p>
    <b>Category:</b>
    <%= @joke.category %>
  </p>

  <p>
    <b>Title:</b>
    <%= @joke.title %>
  </p>

  <p>
    <b>Content:</b>
    <%= @joke.content %>
  </p>


<%= link_to 'Back', home_index_path %>

